.login-grid {
	padding: 0;
	margin: 0 30px;
}

.login-title {
	margin-top: 12vh;
	margin-bottom: 1vh;
	font-size: 4vh;
	text-align: left;
  }

.login-subtitle {
	margin-bottom: 5vh;
	font-size: 3vh;
	color: #939fab;
	text-align: left;
}

.login-button {
	margin-top: 25vh;
	margin-bottom: 2vh;
}

.login-input {
	margin-top: 1vh;
	margin-bottom: 2vh;
}

.forgot-password-link {
	text-decoration: none;
	display: inline-block;
	width: 100%;
	text-align: right;
	font-weight: 600;
	font-size: 1.75vh;
}