.filter-options {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; 
  margin-bottom: 10px;
}

.filter-options::-webkit-scrollbar {
  width: 10px; 
}

.filter-options::-webkit-scrollbar-thumb {
  background-color: transparent; 
}

.filter-options::-webkit-scrollbar-track {
  background-color: transparent;
}

.filter-button {
  text-decoration: none;
  border: 2px solid #095e37;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 10px; 
  white-space: nowrap;
}

.filter-button.selected {
  border-bottom: 3px solid #095e37;
  background-color: #095e37;
  color: white; 
}

.searchbar .searchbar-input {
  border: 1px solid #095e37;
  border-radius: 20px;
}

.recent-label {
  font-weight: bold;
}

.recent-searches {
  margin-top: -10px; 
}
.post {
  margin-top: -5px; 
}
